@model IEnumerable<OnlineRechargeApplication.Models.PlanModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="container">
    <h1 class="text-center">Detailed Plan</h1>
    <div class="text-right">
        <a asp-action="Create" class="btn btn-success"> <i class="fas fa-plus"></i></a>
        <a asp-action="AdminOps" asp-controller="Auth" class="btn btn-warning"> <i class="fas fa-cancel"></i> Back</a>
    </div>
</div>

<p>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead class="table-primary">
        <tr>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.PlanId)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.PlanPrice)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.PlanValidity)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.PlanDescription)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.ServiceProvider.ServiceProviderName)
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PlanId)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PlanName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PlanPrice)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PlanValidity)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PlanDescription)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ServiceProvider.ServiceProviderName)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" class="btn btn-primary btn-icon btn-sm" asp-route-id="@item.PlanId"> <i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" class="btn btn-danger btn-icon btn-sm" asp-route-id="@item.PlanId"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
