@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using OnlineRechargeApplication.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Plans";
    List<PlanModel> plans = ViewBag.planModel;
    List<int> selectedPlans = ViewBag.SelectedPlans;
    string[] colorCodes = new string[5] { "#FFB600", "#44A9CC", "#EB563A", "#F4B998", "#50BCB9" };
    int idx = 0;
}

@model IEnumerable<OnlineRechargeApplication.Models.PlanModel>

<h1>Welcome, <span style="color:gold">@(ViewData["name"])</span></h1>
<form asp-action="Search" asp-route-email="@(ViewData["email"])">
    <input type="text" placeholder="Enter plan name" name="planname" />
    <input type="number" placeholder="Enter min price" name="price" />
    <input type="number" placeholder="Enter min validity" name="validity" />
    <button type="submit" class="btn btn-primary" style="margin-bottom:8px;">Filter plans</button>
</form>
<a class="btn btn-danger" asp-action="CustomerPage" asp-route-email="@(ViewData["email"])">Remove Filter</a>
<hr />


<h1 class="text-center">Buy plans</h1>
<br />
<div class="row">
    @foreach (var item in plans)
    {
        <div class="col-md-4 mb-4 card-container">
            <div class="card card-custom" style="background-color:@(colorCodes[(idx++)%5])">
                <div class="card-body">
                    <div class="row planmodel">
                        <div class="col-sm-4">
                            <h5 class="card-title">Plan:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">@item.PlanName</p>
                        </div>
                    </div>
                    <div class="row planmodel">
                        <div class="col-sm-4">
                            <h5 class="card-title">Price:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">$@item.PlanPrice</p>
                        </div>
                    </div>
                    <div class="row planmodel">
                        <div class="col-sm-4">
                            <h5 class="card-title">Desc:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">@item.PlanDescription</p>
                        </div>
                    </div><hr />
                    <div class="row">
                        <div class="col">
                            @if (selectedPlans.Contains(item.PlanId))
                            {
                                <button class="btn btn-dark" disabled>Plan added</button>
                            }
                            else
                            {
                                <a class="btn btn-outline-dark" asp-route-id="@item.PlanId" asp-route-cid="@(ViewData["id"])" asp-route-email="@(ViewData["email"])" asp-action="PushPlan">Add</a>
                            }
                            <a class="btn btn-outline-dark" asp-controller="Plan" asp-action="Details" asp-route-id="@item.PlanId" asp-route-email="@(ViewData["email"])">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>